<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdatePaymentsCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UpdatePaymentsCom.Properties.Settings>
            <setting name="UpdatePaymentsCom_Payments_Payments" serializeAs="String">
                <value>http://localhost:4303/onlinepayment/Services/Payments.asmx</value>
            </setting>
        </UpdatePaymentsCom.Properties.Settings>
    </applicationSettings>
</configuration>